body, html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --accent: #4D1ED3;
}

.text {
  /* font-size: ; */
}
.text--grey {
  color: #F5F6FA;
}

.page {
  padding-left: 80px;
  background: #F5F6FA;
}

.page__sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.icon {
  fill: #A3A3A3;
}

.sidebar {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 230px;
}
.sidebar__item {
  background: none;
  border: none;
  width: 25px;
}
.sidebar__item--active .icon,
.sidebar__item:hover .icon {
  fill: var(--accent);
}

.header {
  min-height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.header__add {
  margin-right: auto;
  background: #fff;
  border: 1px solid #F1F1F1;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 160px;
}
.header__add-plus {
  font-size: 30px;
  margin-left: 15px;
}

.header__requests-progress {
  margin-right: 100px;
}

.requests-progress__line {
  width: 200px;
  border-radius: 10px;
  background-color: #F1F1F1;
}

.requests-progress__value {
  border-radius: 10px;
  width: var(--req-progress);
  background-color: var(--accent);
  height: 8px;
}
.requests-progress__text {
  margin: 10px 0 0 0;
}


.title {
  font-size: 30px;
}

.main {
  padding: 10px 20px 10px 30px;
}
.main__title {
  margin-bottom: 30px;
}
.main__inner {
  display: flex;
  align-items: stretch;
  min-height: 300px;
}
.main__projects {
  margin-right: 30px;
}

.projects {
  background: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-basis: 280px;
}
.project {
  box-sizing: border-box;
  min-height: 40px;
  display: flex;
  border: 1px solid #F1F1F1;
  padding: 10px;
  margin-bottom: 10px;
}
